* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  font-size: larger;
  color: #000;
}
main {
  height: 80px;
  display: flex;
  flex-direction: column;
}

h1 {
  padding-bottom: 50px;
  text-align: center;
}
form {
  display: flex;
  align-items: center;
}
label {
  margin-right: 30px;
}
#color {
  height: 40px;
  width: 100px;
  margin-right: 30px;
}
button {
  font-size: 14px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: #5468ff;
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
    0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
    inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  width: 100%;
  border-radius: 3px;
  color: #fff;
  height: 32px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

.HexColor {
  margin-top: 60px;
  text-align: center;
  background-color: #5468ff;
  color: white;
  padding: 12px;
  border-radius: 4px;
}
